.header {
    min-height: calc(100vh - 2em);

    &__imagewrap {
        @extend %flex-column;
        background: url("../../assets/img/geometry1.svg") no-repeat center;
        background-size: 80%;
        justify-content: center;
        margin: 0 auto;
        max-width: 360px;
        padding: 3em;

        img {
            border: 2px solid $gold;
            flex: 0 0 auto;
        }

        @media screen and (min-width: $screen-lg) {
            margin: 0 auto;
            padding: 3em;
        }
    }
}
