.header {
    min-height: calc(100vh - 1em);

    &__hero {
        @extend %flex-column;
        position: relative;
    }

    &__imagewrap {
        @extend %flex-column;
        background: url("../../assets/img/geometry1.svg") no-repeat center;
        background-size: 100%;
        justify-content: center;
        margin: 0 auto;
        max-width: 360px;
        padding: 3em;

        img {
            border: 2px solid $gold;
            flex: 0 0 auto;
        }

        @media screen and (min-width: $screen-md) {
            margin: 0 auto;
            padding: 3em;
            width: 50%;
        }
    }
}
