#fish {
    background-color: $black;
    color: $white;

    .milestone__date {
        color: rgba($white, .75);
    }
    .milestone__title {
        color: $white;
    }
}

#freelancing {
    background-color: rgb(16, 118, 157);
    color: $white;

    .milestone__date {
        color: rgba($white, .75);
    }
    .milestone__title {
        color: $white;
    }
}

#king_features {
    background-color: rgb(168, 137, 72);
    color: $white;

    .milestone__date {
        color: rgba($white, .75);
    }
    .milestone__title {
        color: $white;
    }
}

#different_perspective {
    background: rgb(218,95,50);
    color: $white;

    .milestone__date {
        color: rgba($white, .75);
    }
    .milestone__title {
        color: $white;
    }
}

#izea_junyo {
    background: rgb(148,43,119);
    color: $white;

    .milestone__date {
        color: rgba($white, .75);
    }
    .milestone__title {
        color: $white;
    }
}

#blue_acorn {
    background: rgb(26,119,190);
    color: $white;

    .milestone__date {
        color: rgba($white, .75);
    }
    .milestone__title {
        color: $white;
    }
}

#xapp_media {
    background: rgb(41,28,70);
    color: $white;

    .milestone__date {
        color: rgba($white, .75);
    }
    .milestone__title {
        color: $white;
    }
}
