#devices-large,
#devices-medium,
#devices-small {
  display: none;
}

@media screen and (min-width: 1025px) {
  #devices-large {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #devices-medium {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  #devices-small {
    display: block;
  }
}