.portfolio {
  padding-top: 90px;
  padding-bottom: 82px;
}

.portfolio-item {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  padding: 3.2rem 2.4rem;
  position: relative;
  border-bottom: 1px solid #edeae2;
}

.portfolio-item-link {
  display: flex;
  flex: 1 1 auto;
  color: #edeae2;
  text-decoration: none;
}

.portfolio-item-header {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
}

.portfolio-item-info {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
}

.portfolio-item-title {
  font-size: 5rem;
}

.portfolio-item-tags {
  font-size: 2rem;
  font-family: 'Muli', sans-serif;
  opacity: .7;
}

.portfolio-item-preview {
  flex: 1 1 auto;
  text-align: right;
  position: relative;
  z-index: 2;
}

.portfolio-item-details {
  display: flex;
  flex: 1 1 auto;
}

.portfolio-item.even .portfolio-item-info {
  order: 2
}

.portfolio-item.even .portfolio-item-preview {
  order: 1;
  text-align: left;
}

.bg-box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: .1;
  background-attachment: fixed;
}

.portfolio-item.even.is-active .portfolio-item-header,
.portfolio-item.odd.is-active .portfolio-item-header{
  flex-direction: column;
  text-align: center;
}

.portfolio-item.even.is-active .portfolio-item-preview,
.portfolio-item.odd.is-active .portfolio-item-preview {
  text-align: center;
  order: 1;
}

.portfolio-item.even.is-active .portfolio-item-info,
.portfolio-item.odd.is-active .portfolio-item-info {
  order: 2;
  text-align: center;
  margin-top: 4em;
}

.portfolio-item-details {
  max-width: 600px;
  margin: 4rem auto;
}

.portfolio-item-details p {
  font-size: 2rem;
  line-height: 1.5;
}
