@font-face {
    font-family: "CA Texteron";
    src: url(/assets/fonts/CATexteron-Regular.woff2) format("woff2"), url(assets/fonts/CATexteron-Regular.woff) format("woff");
}

@font-face {
    font-family: "CA Texteron-Italic";
    src: url(/assets/fonts/CATexteron-Italic.woff2) format("woff2"), url(/assets/fonts/CATexteron-Italic.woff) format("woff");
}


@font-face {
    font-family: "CA Texteron-SmallCaps";
    src: url(/assets/fonts/CATexteron-SmallCaps.woff2) format("woff2"), url(/assets/fonts/CATexteron-SmallCaps.woff) format("woff");
}
