// elements

* {
    box-sizing: border-box;
}

a {
    color: $blue;
}

body {
    background: $black;
    padding: .5em;
    color: $black;
}

em {
    font-family: $font-italic;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba($black, .8);
}

img {
    height: auto;
    max-width: 100%;
}

// one-offs

#bodywrap {
    background: $white;
    padding: .5em;

    &:after,
    &:before {
        @extend %pseudo-element;
        height: .5em;
        position: fixed;
        z-index: $z10;
    }

    &:after {
        background-color: $black;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    &:before {
        background-color: $white;
        bottom: .5em;
        left: .5em;
        right: .5em;
    }
}

// util classes

.img {
    &--circle {
        border-radius: 50%;
    }
}

.text {
    &--centered {
        text-align: center;
    }
}
