// elements

* {
    box-sizing: border-box;
}

a {
    color: $blue;
}

body {
    background: $black;
    padding: .5em;
    color: $black;
}

em {
    font-family: $font-italic;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba($black, .8);
}

img {
    height: auto;
    max-width: 100%;
}

p {
    margin: 0;
}

// one-offs

#bodywrap {
    background: $white;
    max-height: calc(100vh - 1em);
    // todo: add momentum scrolling to this
    overflow-y: scroll;
    padding: .5em;
}

// util classes

.img {
    &--circle {
        border-radius: 50%;
    }
}

.text {
    &--centered {
        text-align: center;
    }
}
