$font-primary: "CA Texteron", serif;
$font-italic: "CA Texteron-Italic", serif;
$font-smallcaps: "CA Texteron-SmallCaps", serif;

$black: #444;
$blue: #6b83a6;
$gold: #9F7A45;
$white: #fff;

$screen-md: 768px;
$screen-lg: 1024px;

$max-component-width-sm: 600px;
$max-component-width-md: 720px;

$z1: 100;
$z2: 200;
$z10: 1000;
